* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-container {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}

.header {
    background-color: rgb(62, 62, 209);
    color: #fff;
    padding: 35px 25px;
}

.filter-sub-heading {
    display: block;
    margin: 5px 0 20px 0;

}

.input-filter {
    background-color: rgba(0, 0, 0, .3);
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 10px 15px;
    width: 100%;
    outline: none;
}

